{% extends 'base.html' %}
{% block content %}
<h2>Orders</h2>

{% for o in orders %}
<div class="card">
    <p>{{ o.item.item_name }} - {{ o.customer.username }}</p>
    <p>Status: {{ o.status }}</p>
    <form method="POST" action="/update-order/{{ o.id }}/">
        {% csrf_token %}
        <select name="status">
            <option value="accepted">Accept</option>
            <option value="out_for_delivery">Out for Delivery</option>
            <option value="delivered">Delivered</option>
        </select>
        <button>Update</button>
    </form>
</div>
{% endfor %}
{% endblock %}
